@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding:0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.social-media {
    color: white;
}

.logo {
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 0 30px;
}

.navbar a:hover {
    color: #f1850c;
}

.scholarships body{
    max-width: 600px;
    margin: auto;
}

.scholarships p {
    line-height: 1.6;
}

.btn {
    display:inline-block;
    padding: 8px 25px;
    background: #f1850c;
    border: 2px solid #f1850c;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background: transparent;
    color: #f1850c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

article + article {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #c5c5c5;
}

.scholarships {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #c5c5c5;
}

main {
    padding-top: 100px; 
    padding-left: 112px; 
    padding-right: 112px; 
}


main article{
    font-size: 16px;
}

main h1{
    font-size: 21px;
}

.scholarships-h1 a{ 
    text-decoration: none ;
    color: black;
}

.scholarships-h1 a:hover{ 
    color: #f1850c;
}

/* add scholarship form */
.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox
{
    width: 100%;
}

.inputBox span{
    color:#f1850c;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    border-radius: 6px;
    padding: 10px;
    font-size: 0.9em;
    outline: none;
    border: 1.5px solid #333;
}

.inputBox textarea {
    border-radius: 6px;
    padding: 10px;
    font-size: 0.9em;
    outline: none;
    border: 1.5px solid #333;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"] {
    display:inline-block;
    padding: 8px 25px;
    background: #f1850c;
    border: 2px solid #f1850c;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    color: white;
    max-width: 120px;
}

.inputBox input[type="submit"]:hover{
    background: transparent;
    color: #f1850c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.placeholder{
    color: #999;
}

/*scholarships tags*/

.pill {
    font-size:13px;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #f49229;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* search bar */
.boxContainer {
    margin: auto;
    position: relative;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    padding: 0px 20px;
    border-radius: 50px;
    align-items: center;
    display: flex; /* Add display: flex */
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.elementsContainer {
    width: 100%;
    align-items: center;
}

.td1 {
    width: 100%;
}
.td2 {
    width: 0%;
}

.material-icons{
    margin-left: 230px;
    margin-top: 6px;
    font-size: 15;
    color: black;
}

input[name="search"] {
    outline: none;
    width: 100%;
    border: none;
    font-weight: 400;
    background: transparent;
    align-items: center;
    margin-bottom: 2.5px;
    font-size: 0.9em;
    
  }
/*tags filter */

.container{
    max-width: 320px;
    width: 100%;
    border-radius: 8px;
}

.select-btn {
    display:flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: black;
}

.select-btn .arrow-dwn{
    display: flex;
    height:21px;
    width: 21px;
    background: #f49229;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn{
    transform: rotate(-180deg)
}

.list-items{
    position: relative;
    background-color: white;
    margin-top: 15px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-btn.open ~ .list-items{
    display: block;
}

.list-items .item{
    list-style: none;
    display:flex;
    align-items: center;
    height: 50px;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover{
    background-color: #fce1c9;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid black;
    cursor: pointer;
}

.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: black;

}